@import url("fonts.css");

@media only screen and (max-width: 767px) {

    /* mobile navigation
    -------------------------------------------------------------------- */

    #header #page1 .background-img {
      position: fixed;
      z-index: -1;
      max-height: 1000px;
      top:0;
      left:0;
      filter: hue-rotate(90deg);
    }


    #nav-wrap {
       font: 12px 'kiwimaru-regular', serif;
       background: transparent;
       letter-spacing: 1.5px;
       width: auto;
       position: fixed;
       top: 0;
       right: 0;
    }
    #nav-wrap > a {
        text-align: left;
        background-color: #60d8be;
        position: relative;
        border: none;
        float: right;


       font: 0/0 a;
       text-shadow: none;
       color: transparent;

       position: relative;
       top: 0px;
       right: 30px;
    }

    #nav-wrap > a:before,
    #nav-wrap > a:after {
        position: absolute;
        border: 2px solid rgb(175, 240, 218);
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
     }
    #nav-wrap > a:after { top: 60%; }

    /* toggle buttons */
     #nav-wrap:not( :target ) > a:first-of-type,
     #nav-wrap:target > a:last-of-type  {
        display: block;
     }

    /* hide menu panel */
    #nav-wrap ul#nav {
       height: auto;
         display: none;
       clear: both;
       width: auto;
       float: right;
       top: 12px;
       right: 0;
    }

    /* display menu panels */
     #nav-wrap:target > ul#nav	{
        display: block;
       padding: 30px 20px 48px 20px;
       background: #60d8be;
       margin: 0 30px;
       clear: both;
    }

    ul#nav li {
       display: block;
       height: auto;
       margin: 0 auto;
       padding: 0 4%;
       text-align: left;
       border-bottom: 1px solid #2D2E34;
       border-bottom-style: dotted;
    }

    ul#nav li a {
       display: block;
       margin: 0;
       padding: 0;
       margin: 12px 0;
       line-height: 16px; /* reset line-height from 48px */
       border: none;
    }


    /* Header Styles
    -------------------------------------------------------------------- */
    #home .banner {
       padding-bottom: 12px;
       padding-top: 3px;

    }
    #home .banner-text h1 { font: 68px/1.1em 'kiwimaru-regular', serif; }
    #home .banner-text h3 {
       font: 16px/1.9em 'kiwimaru-regular', serif;
    }

    /* header social links */
    #home .social {
       margin: 18px 0 24px 0;
       font-size: 15px;
       line-height: 36px;
    }
    #home .social li { margin: 0 10px; }

     /* scrolldown link */
    #home .scrolldown { display: none; }

    /* Call To Action Section
    /* ----------------------------------------------------------------- */
    #call-to-action { text-align: center; }
    #call-to-action h1 {
       font: 16px/24px 'kiwimaru-regular', serif;
       text-align: center;
       margin-bottom: 30px;
       text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
    }
    #call-to-action h1 span { display: block; }
    #call-to-action .header-col h1:before { content: none; }
    #call-to-action p { font-size: 15px; }



    /* Control Nav */
    .flex-control-nav {
       text-align: center;
       margin-left: -30px;
    }


    /* contact Section
    ----------------------------------------------------------------------- */
    #contact { padding-bottom: 66px; }
    #contact .section-head { margin-bottom: 12px; }
    #contact .section-head h1 {
       font: 20px/24px 'kiwimaru-regular', serif;
       text-align: center;
       margin-bottom: 30px;

    }
    #contact h1 span { display: block; }
    #contact .header-col { padding-top: 0; }
    #contact .header-col h1:before { content: none;	}
    #contact .section-head p.lead { text-align: center;}

#contact .social {
   text-align: center;

}

    #contact svg {
      height:32px;
      display: inline-block;
      padding-top: 2%;
      fill: url(#gradient-vertical) gray;

    }




 }
